* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
}

main {
	padding: 20px;
	margin: auto;
	max-width: 500px;
	min-width: 300px;
}

header {
	padding: 10px;
	text-align: center;
}

nav {
	font-size: small;
}

section {
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	border-width: 3px;
	padding: 10px;
}

.aboutme {
	box-shadow: 5px 5px 0px black;
}

.box {
	position: relative;
	background-color: white;
	transition: all 1s;
}

.box::before {
	content: "";
	border-radius: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	z-index: -1;
	border-style: none;
	background-color: black;

	transform: translate(0%, 0%);
}

.box:hover::before {
	transform: translate(5px, 5px);
}

.description {
	width: 200px;
}

.description h3 {
	text-align: center;
}

.contact {
	width: 200px;
	text-align: right;
	margin-left: auto;
	margin-right: 0;
}

ul {
	list-style: none;
}

.profilepicture {
	width: 150px;
	margin-left: auto;
	margin-right: 0;
}

.profilepicture > img {
	width: 100%;
	border-radius: 100%;
	border-style: dotted;
	border-width: 2px;
}

figcaption {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}
